.user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagem {
    border-radius: 50%;
    border: 1px solid gray;
    margin: 20px 0 50px;
    width: 30vw;
}

.name {
    font-size: 27px;
    color: #C9D1D9;
    margin: 0;
}

.login {
    font-size: 23px;
    color: #C9D1D9;
    font-weight: 100;
    margin: 0 0 1rem;
}

.seguidores {
    display: flex;
    width: 15vw;
    justify-content: space-between;
    color: #8B949E;
}

.followers {
    display: flex;
    align-items: center;
}

.followers svg {
    margin-right: 0.2rem;
}

.followers:hover, .following:hover {
    color: #58a6ff;
}

.button {
    padding: 15px;
    color: #8B949E;
    background-color: #1e2226;
    border: 1px solid #697078;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    width: 17vw;
    margin: 3rem;
    font-size: 18px;
    font-weight: bold;
}

.button:hover {
    background-color: #30363D;
    border: 1.5px solid #8B949E;
}

